<div class="row">
  <div class="col-12">
    <div class="card card-primary">
      <p>
        Longitude, Latitude {{ city.coords.coordinates[0] }},
        {{ city.coords.coordinates[1] }}
      </p>
      <p>
        Last Update Time
        {{ city.timestamp_current * 1000 | date: "d MMMM yyyy" }}
      </p>
    </div>
  </div>
</div>

<div class="card">
    <mat-tab-group>
        <mat-tab label="Temperature">
            <ng-template matTabContent>
                <app-graph-temp [city]="city"></app-graph-temp>
            </ng-template>
        </mat-tab>
        <mat-tab label="Precipitation">
            <ng-template matTabContent>
                <app-graph-precip [city]="city"></app-graph-precip>
            </ng-template>
        </mat-tab>
        <mat-tab label="Weather">
            <ng-template matTabContent>
                Coming soon!
            </ng-template>
        </mat-tab>
        <mat-tab label="Snow">
            <ng-template matTabContent>
                Coming soon!
            </ng-template>
        </mat-tab>
        <mat-tab label="UV Index">
            <ng-template matTabContent>
                Coming soon!
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
